body{
    background-color: purple;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Untuk Ubah Style Header */
#header{
    background-color: pink;
    text-align: center;
    padding: 10px;
}

#header h1{
    color: white;
}

#header blockquote{
    background-color: purple;
     border: 2px dotted black;
}

/* Untuk Ubah Style Menu */
.menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

/* Untuk Ubah Style Gambar */
.gambar{
    text-align: center;
}

.gambar img{
    width: 20%;
}

/* Untuk Ubah Style Koleksi */
.koleksi{
    text-align: center;
}

.koleksi img{
    width: 20%;
}

/* Untuk Ubah Style Promo */
.promo{
    color: red;
    text-align: center;
}
Footer
